/*********/
/* FONTS */
/*********/

/* Roboto regular */

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-stretch: normal;
  font-weight: normal;
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Roboto;
  font-style: italic;
  font-stretch: normal;
  font-weight: normal;
  src: url("../fonts/Roboto/Roboto-Italic.ttf") format("truetype");
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-stretch: normal;
  font-weight: 200;
  src: url("../fonts/Roboto/Roboto-Light.ttf") format("truetype");
}

@font-face {
  font-family: Roboto;
  font-style: italic;
  font-stretch: normal;
  font-weight: 200;
  src: url("../fonts/Roboto/Roboto-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-stretch: normal;
  font-weight: bold;
  src: url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: Roboto;
  font-style: italic;
  font-stretch: normal;
  font-weight: bold;
  src: url("../fonts/Roboto/Roboto-BoldItalic.ttf") format("truetype");
}

/* Roboto condensed */

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-stretch: condensed;
  font-weight: normal;
  src: url("../fonts/RobotoCondensed/RobotoCondensed-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: Roboto;
  font-style: italic;
  font-stretch: condensed;
  font-weight: normal;
  src: url("../fonts/RobotoCondensed/RobotoCondensed-Italic.ttf")
    format("truetype");
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-stretch: condensed;
  font-weight: 200;
  src: url("../fonts/RobotoCondensed/RobotoCondensed-Light.ttf")
    format("truetype");
}

@font-face {
  font-family: Roboto;
  font-style: italic;
  font-stretch: condensed;
  font-weight: 200;
  src: url("../fonts/RobotoCondensed/RobotoCondensed-LightItalic.ttf")
    format("truetype");
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-stretch: condensed;
  font-weight: bold;
  src: url("../fonts/RobotoCondensed/RobotoCondensed-Bold.ttf")
    format("truetype");
}

@font-face {
  font-family: Roboto;
  font-style: italic;
  font-stretch: condensed;
  font-weight: bold;
  src: url("../fonts/RobotoCondensed/RobotoCondensed-BoldItalic.ttf")
    format("truetype");
}

/* Roboto Mono */

@font-face {
  font-family: RobotoMono;
  font-style: normal;
  font-stretch: normal;
  font-weight: normal;
  src: url("../fonts/RobotoMono/RobotoMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: RobotoMono;
  font-style: italic;
  font-stretch: normal;
  font-weight: normal;
  src: url("../fonts/RobotoMono/RobotoMono-Italic.ttf") format("truetype");
}

@font-face {
  font-family: RobotoMono;
  font-style: normal;
  font-stretch: normal;
  font-weight: 200;
  src: url("../fonts/RobotoMono/RobotoMono-Light.ttf") format("truetype");
}

@font-face {
  font-family: RobotoMono;
  font-style: italic;
  font-stretch: normal;
  font-weight: 200;
  src: url("../fonts/RobotoMono/RobotoMono-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: RobotoMono;
  font-style: normal;
  font-stretch: normal;
  font-weight: bold;
  src: url("../fonts/RobotoMono/RobotoMono-Bold.ttf") format("truetype");
}

@font-face {
  font-family: RobotoMono;
  font-style: italic;
  font-stretch: normal;
  font-weight: bold;
  src: url("../fonts/RobotoMono/RobotoMono-BoldItalic.ttf") format("truetype");
}

/* Custom font classes */

.font-sans .font-roboto {
  font-family: Roboto, sans-serif;
}

.font-mono .font-roboto-mono {
  font-family: RobotoMono, monospace;
}

.font-condensed .font-roboto-condensed {
  font-family: RobotoCondensed, sans-serif;
}

body {
  @apply bg-background;
}

* {
  font-family: Roboto, sans-serif;
  @apply text-text;
}

code {
  @apply text-accent;
}

a {
  @apply text-primary underline;
}

:is(h1, h2, h3, h4, h5, h6) a {
  @apply text-accent no-underline;
}
